
 <!-- Contact box starts -->

 <div class="cslider-box">
      <div class="cslider">
         <div class="container-fluid">
            <div class="row-fluid">

            <div class="span6">

                <div class="box-body">
                  <h5>M.V.Z. Eleazar Acosta Bojorquez</h5>
                  <hr />
                  <p><img src="/assets/vet/doc.jpg" alt="" width="150" class="alignleft"/>

                    Le atiendo personalmente para cualquier consulta realacionado con  el cuidado de su mascota, soy medico veterinario con  mas de 2 decadas trabajando de manera activa ,ubicado en el mismo lugar, en Ciudad Morelos.<br/>
                    contamos  con un sin numero de casos de exito, nuestros clientes nos respaldan porque nos hemos ganado su confianza al proporcionar servicios de calidad , con respeto y dedicacion.</p>
                  <div class="clearfix"></div>
                  <h5>Direccion de contacto</h5>
                 <hr />

                 
   
                 <div class="address">
                    <div class="row-fluid">

                      <div class="span6">
                          <address>
                            <span class="bold"><i class="icon-home"></i> Clinica Veterinaria Acosta</span><br>
                            AV.Benito Juarez 299<br>
                            CD. Morelos,BC.21960<br>
                          </address>
                       </div>

                       <div class="span6">
                          <address>
                            <i class="icon-user"></i> <span class="bold">MVZ.Eleazar Acosta Bojorquez</span><br>
                            <i class="icon-envelope-alt"></i> <a href="mailto:#">dracosta@hotmail.com</a><br>
                            <i class="icon-signal"></i> <abbr title="Phone">Movil:</abbr> (686) 137-8808
                          </address>
                       </div>

                      
                      
                    </div> 
                 </div>   
                  <!--end  1 section -->
                </div>  
              </div>

               <div class="span6">
                <div class="box-body">                  
                  <h5>Nuestro Horario de  servicio</h5>
                  <hr />
                    <div class="address">
                    <div class="row-fluid">

                        <div class="span6">
                          <address>
                          
                            Lunes a viernes<br>
                            de 8:00 a.m a 7:00 p.m.<br>
                            Sabados<br>
                            de 8:00 a.m a 4:00 p.m.<br>
                          </address>
                       </div>

                       <div class="span6">
                        <address> 
                        <b><p style="color: red;"> Urgencia las 24 hrs</p></b>                          
                          <b/>
                          Favor de llamarnos con anterioridad
                        </address>
                       </div>

                    </div> 
                 </div>  

    <!-- Social -->    
           <div class="social">

              <h5>
                  <a  href="https://www.facebook.com/clinicaveterinariaacosta.acosta?fref=ts">Siguenos  por facebook <i class=" icon-facebook facebook "></i></a>

               </h5>
            </div>

                <!-- images -->

                 <br/>
                  <%= image_tag "./vet/equipo.jpg" %>
                </div> 
              </div>

            </div>
         </div>
      </div>
      <div class="cslider-btn"><i class="icon-angle-down"></i></div>
    </div>

    <!-- Contact box ends -->