
 

      <div class="container-fixed">
       <div class="row-fluid"
                     
    <div class="image">
    	  <p id="text">
       ©2013 •Clinica Veterinaria Acosta, by Imerx ,
       Imagenes y contenidos son propios de sus respectivos due&ntilde;os   
    </p>

      <%= image_tag "footer2.png" %>
       	
    </div>
     
            
          </div>
        </div>

   

