
<!DOCTYPE html>
<html lang="en">
<head>
 
</head>

<body>


  

<!-- Main content starts -->

<div class="content">

  
  
  <!-- Sidebar starts -->
  <%= render(:partial => 'publico/sidebar')%>
  <!-- Sidebar ends -->

  <div class="mainbar">

    
  <!-- Contact box starts  slide-->
    <%= render(:partial => 'publico/contact')%>    
    <!-- Contact box ends slide -->

    <div class="matter">
      <div class="container-fluid">

        <!-- Content starts -->

               
           <div class="span12">

       <!-- Title starts -->
          <div class="page-title">
          <h2>Nuestra Ubicacion</h2>            
           <hr />      
          </div>
        <!-- Title ends -->

             <div class="ysheet1"> 

       
                    
                    <!-- Responsive iFrame -->
                  <div class="Flexible-container">
                       <!-- Google Maps. Replace the below iframe with your Google Maps embed code -->          
                    <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.mx/maps?q=ciudad++morelos+map&amp;ie=UTF8&amp;hq=&amp;hnear=Ciudad+Morelos,+Baja+California&amp;gl=mx&amp;t=m&amp;layer=c&amp;cbll=32.633105,-114.856175&amp;panoid=rRmLdI2_6X5oBNL0OLAcbQ&amp;cbp=11,34.47,,0,1.77&amp;ll=32.628388,-114.84189&amp;spn=0.022698,0.048237&amp;z=14&amp;source=embed&amp;output=svembed"></iframe><br /><small><a href="https://maps.google.com.mx/maps?q=ciudad++morelos+map&amp;ie=UTF8&amp;hq=&amp;hnear=Ciudad+Morelos,+Baja+California&amp;gl=mx&amp;t=m&amp;layer=c&amp;cbll=32.633105,-114.856175&amp;panoid=rRmLdI2_6X5oBNL0OLAcbQ&amp;cbp=11,34.47,,0,1.77&amp;ll=32.628388,-114.84189&amp;spn=0.022698,0.048237&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small><br />

                  </div>
                              
                          
                   
                 <div class="address">
                    <div class="row-fluid">
                       <div class="span6">
                          <address>
                            <span class="bold"><i class="icon-home"></i> Clinica Veterinaria Acosta.</span><br>
                            Av. Benito Juarez 299<br>
                            Ciudad Morelos, BC. 21960<br>
                          </address>
                       </div>

                       <div class="span6">
                          <address>
                            <i class="icon-user"></i> <span class="bold">M.V.Z. Eleazar Acosta Bojorquez</span><br>
                            <i class="icon-envelope-alt"></i> <a href="mailto:#">dracosta@hotmail.com</a><br>
                            <i class="icon-signal"></i> <abbr title="">Cell:</abbr> (686) 137-8808
                          </address>
                       </div>
                    </div>                          
                   </div>

          </div>
        </div>

        <!-- Content ends -->

      </div>
    </div>
                     

  </div>
  <!-- Mainbar ends -->

 <div class="clearfix"></div>
 

</div>

<div class="clearfix"></div>
<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span> 

<!-- Main content ends -->

	




</body>
</html>