<!DOCTYPE html>
<html lang="en">
<head>
  
</head>

<body>



<div class="content">

   <!-- Sidebar starts -->
  <%= render(:partial => 'publico/sidebar')%>
  <!-- Sidebar ends -->

  <!-- Mainbar starts -->
  <div class="mainbar">

    <!-- Contact box starts  slide-->
    <%= render(:partial => 'publico/contact')%>    
    <!-- Contact box ends slide -->


    <div class="matter">     
        
 
        <!-- Content starts -->

          <div class="container-fluid">
                <div class="row-fluid"> 
                          <!-- Title starts -->
        <div class="page-title">
          <h2>Galeria de Fotos</h2>  
           <hr />               
        </div>
        <!-- Title ends -->
                 
                  <div class="box-body service">     
                     
           <!--  Area  gallery slider -->


    
       
    <div id="myCarousel" class="carousel slide">
    
    <!-- Carousel items -->
    <div class="carousel-inner" >

    <div class="active item" data-slide-number="0"><img src="/assets/vet/gallery/1a.jpg" /></div>
    <div class="item" data-slide-number="1"><img src="/assets/vet/gallery/2a.jpg" /></div>
    <div class="item" data-slide-number="2"><img src="/assets/vet/gallery/3a.jpg" /></div>
    <div class="item" data-slide-number="3"><img src="/assets/vet/gallery/4a.jpg" /></div>
    <div class="item" data-slide-number="4"><img src="/assets/vet/gallery/5a.jpg" /></div>
    <div class="item" data-slide-number="5"><img src="/assets/vet/gallery/6a.jpg" /></div>
    <div class="item" data-slide-number="4"><img src="/assets/vet/gallery/7a.jpg" /></div>
    <div class="item" data-slide-number="5"><img src="/assets/vet/gallery/7a.jpg" /></div>
   
    </div><!-- carousel inner -->
    
    <!-- Carousel nav -->
<a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
<a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
    </div>
   

       <!-- Bottom switcher of slider -->
    <ul class="thumbnails">
    <li >
    <a class="thumbnail" id="carousel-selector-0">
    <img src="/assets/vet/gallery/1b.jpg" />
    </a>
    </li>
    <li >
    <a class="thumbnail" id="carousel-selector-1">
   <img src="/assets/vet/gallery/2b.jpg" />
    </a>
    </li>
    <li >
    <a class="thumbnail" id="carousel-selector-2">
       <img src="/assets/vet/gallery/3b.jpg" />
    </a>
    </li>
    <li >
    <a class="thumbnail" id="carousel-selector-3">
      <img src="/assets/vet/gallery/4b.jpg" />
    </a>
    </li>
    <li >
    <a class="thumbnail" id="carousel-selector-4">
       <img src="/assets/vet/gallery/5b.jpg" />
    </a>
    </li>
    <li >
    <a class="thumbnail" id="carousel-selector-5">
      <img src="/assets/vet/gallery/6b.jpg" />
    </a>
    </li>
    <li >
    <a class="thumbnail" id="carousel-selector-6">
       <img src="/assets/vet/gallery/7b.jpg" />
    </a>
    </li>
     <li >
    <a class="thumbnail" id="carousel-selector-7">
     <img src="/assets/vet/gallery/7b.jpg" />
    </a>
    </li>

    </ul>

   
  <!--  end gallery  slider -->                                             


      

        <!-- Content ends -->
        </div>
      </div>
    </div>
                     

  </div>
  <!-- Mainbar ends -->  
</div>

<div class="clearfix"></div>

<!-- Main content ends -->


<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span> 


</body>
</html>